<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
    		<add key = "NewRelic.AppName" value="jose.marino.rackspacedevops.com" />
	</appSettings>

    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>